<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


    <!-- ############################## head ################################# -->
    <head th:replace="/base/commons.html::head"></head>

    <body id="page-top">
        <div id="wrapper">

            <!-- ############################## sidebar ################################# -->
            <ul th:replace="/base/commons.html::sidebar"></ul>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- ############################## topbar ############################## -->
                    <nav th:replace="/base/commons.html::topbar"></nav>


                    <!-- ///////////////////////////// 新增内容  ///////////////////////////// -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">Tables</h1>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Row</th>
                                            <th>img</th>
                                            <th>Title</th>
                                            <th>Tpye</th>
                                            <th>Size</th>
                                            <th>HdfsPosition</th>
                                            <th>ServerPosition</th>
                                            <th>UUID</th>
                                            <th>CreateTime</th>
                                            <th>UpdateTime</th>
                                            <th>Uploader</th>
                                            <th>UploadTitle</th>
                                            <th>Operate</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="image:${images}">
                                            <td></td>
                                            <td id="preview">
                                                <a class="fancybox" th:href="${image.serverPosition}">
                                                    <img th:src="${image.serverPosition}" alt="缩略图"/>
                                                </a>
                                            </td>
                                            <td th:text="${image.title}"></td>
                                            <td th:text="${image.type}"></td>
                                            <td th:text="${image.size}"></td>
                                            <td th:text="${image.hdfsPosition}"></td>
                                            <td th:text="${image.serverPosition}"></td>
                                            <td th:text="${image.uuid}"></td>
                                            <td th:text="${#dates.format(image.createTime, 'yyyy-MM-dd HH:mm:ss')}">
                                            </td>
                                            <td th:text="${#dates.format(image.updateTime, 'yyyy-MM-dd HH:mm:ss')}">
                                            </td>
                                            <td th:text="${image.uploader}"></td>
                                            <td th:text="${image.uploadTitle}"></td>
                                            <td>
                                                <a th:data-id="${image.uuid}+'|'+${image.title}+'|'+${image.uploader}"
                                                   data-toggle="modal" href="#logoutModal"
                                                   th:onclick="javascript:modInfo(this.getAttribute('data-id'))">修改&nbsp;
                                                </a>

                                                <a th:data-id="${image.uploadTitle}" data-toggle="modal" href="#"
                                                   th:onclick="javascript:delInfo(this.getAttribute('data-id'))">删除&nbsp;
                                                </a>

                                                <a th:data-id="${image.uploadTitle}" href="#"
                                                   th:onclick="javascript:downloadInfo(this.getAttribute('data-id'))">下载&nbsp;
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- ############################## footer ############################## -->
                <footer th:replace="/base/commons.html::footer"></footer>
            </div>
        </div>


        <!-- 模态弹出窗内容 -->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modify information</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="display: none">
                            <label for="uuid">UUID</label>
                            <input type="text" class="form-control" id="uuid" placeholder="UUID">
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="uploader">Uploader</label>
                            <input type="text" class="form-control" id="uploader" placeholder="Uploader">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" id="btn_submit">Save</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ############################## 滚动到顶端 ############################## -->
        <a th:replace="/base/commons.html::scroll_to_top"></a>
    </body>

    <!-- ############################## 公共部分js ############################## -->
    <span th:replace="/base/commons.html::base_js"></span>


    <!-- 图像预览begin -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
    <!-- 图像预览end -->


    <script type="text/javascript" th:inline="javascript">
        // 修改表格第一列序号从1自增
        $(function () {
            var len = $('table tr').length;
            for (var i = 1; i < len; i++) {
                $('table tr:eq(' + i + ') td:first').text(i);
            }
        });

        function delInfo(uploadTitle) {
            if (confirm("确认要删除？")) {
                var params = {
                    "uploadTitle": uploadTitle
                };
                var param = {params: JSON.stringify(params)};
                $.post('/deleteImage', param, function (data) {
                    if (data.result === "0000") {
                        alert("删除成功！");
                        location.reload();//刷新
                    } else {
                        alert("删除失败！");
                    }
                });
            }
        }


        function downloadInfo(uploadTitle) {
            window.location.href = "/downloadImage?uploadTitle=" + uploadTitle;
        }


        function modInfo(obj) {
            var info = obj.split("|");
            //获取修改选中行一行的对应值，参数传递到模态框中
            $('#uuid').val(info[0]);
            $('#title').val(info[1]);
            $('#uploader').val(info[2]);
        }

        //模态框提交--ajax
        $(function () {
            $("#btn_submit").click(function () {
                // 隐藏模态框
                $('#logoutModal').hide();

                //获取模态框中的数据
                var params = {
                    "uuid": $("#uuid").val(),
                    "title": $('#title').val(),
                    "uploader": $('#uploader').val()
                };
                var param = {params: JSON.stringify(params)};
                $.post('/modifyImage', param, function (data) {
                    if (data.result === "0000") {
                        alert("修改成功！");
                        location.reload();//刷新
                    } else {
                        alert("修改失败！");
                    }
                });
            });
        });
    </script>


</html>


