<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- ############################## head ################################# -->
    <head th:replace="/base/commons.html::head"></head>

    <embed type="text/html" src="footer.html" />

    <body id="page-top">
        <div id="wrapper">

            <!-- ############################## sidebar ################################# -->
            <ul th:replace="/base/commons.html::sidebar"></ul>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- ############################## topbar ############################## -->
                    <nav th:replace="/base/commons.html::topbar"></nav>


                    <!-- ///////////////////////////// Begin Page Content  ///////////////////////////// -->
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        </div>
                    </div>

                </div>

                <!-- ############################## footer ############################## -->
                <footer th:replace="/base/commons.html::footer"></footer>
            </div>
        </div>

        <!-- ############################## 滚动到顶端 ############################## -->
        <a th:replace="/base/commons.html::scroll_to_top"></a>

        <!-- ############################## 推出弹框 ############################## -->
        <div th:replace="/base/commons.html::logout_modal"></div>

        <!-- ############################## 公共部分js ############################## -->
        <span th:replace="/base/commons.html::base_js"></span>

    </body>
</html>
