<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


    <!-- ############################## head ################################# -->
    <head th:replace="/base/commons.html::head"></head>

    <body id="page-top">
        <div id="wrapper">

            <!-- ############################## sidebar ################################# -->
            <ul th:replace="/base/commons.html::sidebar"></ul>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- ############################## topbar ############################## -->
                    <nav th:replace="/base/commons.html::topbar"></nav>


                    <!-- ///////////////////////////// 新增内容  ///////////////////////////// -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <div id="page-wrapper">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="page-header">上传图像</h4>
                                </div>
                            </div>

                            <!-- 水平分割线 -->
                            <hr>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form enctype="multipart/form-data" action="/upload" method="POST">
                                            <div class="form-group">
                                                <label>上传用户</label>
                                                <input class="form-control" type="text"
                                                       placeholder="user name" name="uploader">
                                            </div>
                                            <div class="form-group">
                                                <label>文件上传</label>
                                                <input type="file" name="fileName" accept="image/*">
                                            </div>
                                            <div class="form-group">
                                                <label>备注</label>
                                                <textarea class="form-control" rows="3" placeholder="image remark"
                                                          type="text" name="remark"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">上传</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary">重置</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- ############################## footer ############################## -->
                <footer th:replace="/base/commons.html::footer"></footer>
            </div>
        </div>

        <!-- ############################## 滚动到顶端 ############################## -->
        <a th:replace="/base/commons.html::scroll_to_top"></a>

    </body>

    <!-- ############################## 公共部分js ############################## -->
    <span th:replace="/base/commons.html::base_js"></span>


    <script type="text/javascript" th:inline="javascript">
        var uploadResult = [[${uploadResult}]];
        if (typeof(uploadResult) === 'string') {
            if (uploadResult === '0000'){
                alert("上传成功！");
                window.location.href = 'uploadImage';
            } else {
                alert("上传失败！");
            }
        }
    </script>


</html>


