<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--复用head代码-->
    <head th:replace="/base/head.html::head"></head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar 左侧导航 -->
            <ul th:replace="/base/nav_left.html::nav_left"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!--头部导航-->
                    <nav th:replace="/base/nav_top.html::nav_top"></nav>

                    <!--页面内容-->
                    <div class="container-fluid">
                    <!--新加内容-->




                    </div>

                </div>
                <!--Footer-->
                <footer th:replace="/base/footer.html::footer"></footer>
            </div>
        </div>
        <!--点击回到顶端-->
        <a th:replace="/base/scroll_top.html::scroll_top"></a>

        <!--退出登录弹框-->
        <div th:replace="/base/logout_modal.html::logout_modal"></div>

    </body>
</html>
